* {
  margin: 0;
  padding-left: 0;
}

body {
  height: 100vh;
  background: url(images/timer.jpg) no-repeat center center/ cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  height: 250px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 3px;
}

.title {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 0px 20px;
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  font-family: "Arial", sans-serif;
  text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.5);
}

#datetime {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  font-family: "Arial", sans-serif;
}

#timer {
  width: 100%;
  font-size: 72px;
  text-align: center;
  margin: 0px auto;
  padding: 35px;
}

.buttons {
  text-align: center;
  margin-top: 40px;
}

button {
  margin: 0 10px;
  border: none;
}

button i {
  font-size: 2rem;
  padding: 10px;
  color: #fff;
}

#play {
  background-color: green;
}

#pause {
  background-color: orange;
}

#reset {
  background-color: red;
}
